<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="../../index2.html" class="h1"><b>HR</b> Management</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Đăng nhập để bắt đầu</p>

        <form [formGroup]="formLogin" (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input formControlName="username" type="text" class="form-control" placeholder="Tên tài khoản">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input formControlName="password" type="password" class="form-control" placeholder="Mật khẩu">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" (change)="remember($event)">
                <label for="remember">Nhớ tài khoản</label>
              </div>
            </div>
            <!-- /.col -->
            <div class="row-cols-md-auto">
              <button type="submit" class="btn btn-primary btn-block">
                <span nz-icon nzType="login" nzTheme="outline"></span>
                Đăng nhập
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
